<div
  class="pass_block relative aspect-square rounded border border-gray-800 bg-gray-50 grid place-items-center"
  data-marked={if @marked?, do: 1, else: 0}
>
  <span :if={@marked?} class="absolute font-cbyg text-[5vw] text-black">
    X
  </span>
</div>
