<div class="border border-gray-800 bg-gray-50 rounded min-w-5 min-h-5 relative">
  <span
    :if={@marked?}
    class="text-2xl text-black font-cbyg font-bold absolute translate-x-1/3 -translate-y-1/4"
  >
    X
  </span>
</div>
