<%!-- remember to possibly escape the player_name --%>
<div
  class="grid grid-rows-[1fr_1fr_1fr_1fr_auto] gap-1 h-full scorecard rounded-tl bg-gray-200 p-2"
  data-player={@player_name}
>
  <.scorecard_row
    :for={color <- ~w/red yellow green blue/a}
    color={color}
    row={Map.get(@scorecard, color)}
    player_name={@player_name}
  />
  <div class="flex justify-between">
    <div class="points font-cbyg text-[4vw] leading-none">
      {Scorecard.score(@scorecard).total}
    </div>
    <div
      class="flex justify-end gap-1 min-w-64 cursor-pointer"
      phx-click="pass"
      phx-value-name={@player_name}
    >
      <.button class="h-full px-8 font-landing text-[2vw] cursor-pointer">
        Pass
      </.button>
      <.pass_block :for={n <- 0..@scorecard.pass_count} :if={n > 0} marked?={true} />
      <.pass_block :for={n <- @scorecard.pass_count..4} :if={n < 4} />
    </div>
  </div>
</div>
