<template id="tpl-mark">
  <span class="absolute font-cbyg text-5xl font-bold text-black">X</span>
</template>

<template id="tpl-roll">
  <div
    id="rolling-animation"
    class="animate-bounce font-bold bg-white text-lg text-black shadow-lg absolute transition opacity-0 w-full text-center h-full grid place-content-center"
  >
    <span>Rolling</span>
  </div>
</template>
