.scorecard { display: none; }
.scorecard.owner {
  width: 100%;
  border-radius: 5px;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.5), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
  display: grid;
  grid-template-areas:
    "   . pass      ."
    "rows rows scores"
    "   .    . scores";
  grid-template-columns: 1fr auto 7.5%;
  gap: 5px;
  padding: 5px;

  .pass-container {
    &.possible-move { cursor: pointer; }
    grid-area: pass;
    min-width: 100px;
    min-height: 20px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5px;

    .box {
      border: 1px solid black;
      display: grid;
      justify-content: center;
      align-content: center;
      &.x::after {
        content: "✔";
      }
    }
  }

  .rows {
    grid-area: rows;
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    gap: 10px;

    .sc-row {
      &.red {.number-box, .lock { background-color: salmon; }}
      &.yellow {.number-box, .lock { background-color: khaki; }}
      &.blue {.number-box, .lock { background-color: lightblue; }}
      &.green {.number-box, .lock { background-color: lightgreen; }}
      display: grid;
      grid-template-columns: repeat(12, 1fr);
      gap: 5px;
      min-height: 50px;

      .number-box, .lock {
        border-radius: 3px;
        display: grid;
        justify-content: center;
        align-content: center;
      }
      .number-box {
        position: relative;
        display: grid;
        justify-content: center;
        align-content: center;
        cursor: default;
        &.no {
          filter: brightness(0.6);
        }
        &.yes {
          span { display: none; }
          &::after {
            content: "✔";
            font-size: 2em;
          }
        }
        &.open.possible-move {
          animation-name: pulse-possible-move;
          animation-duration: 2s;
          animation-iteration-count: infinite;
          cursor: pointer;

          @keyframes pulse-possible-move {
            0% {
              filter: brightness(1);
            }
            35% {
              filter: brightness(1.5);
            }
            70 {
              filter: brightness(1);
            }
            100 {
              filter: brightness(1);
            }
          }
        }
      }
    }
  }

  .scores {
    grid-area: scores;
    .score-box {
      text-align: right;
      background: lightgray;
      padding: 0 10px;
      &:last-child { border-bottom-left-radius: 5px; }
    }
  }
}
