<.story id="copy-to-clipboard-story">
  <:title>Copy to Clipboard</:title>
  <:description>
    Click the button, and it copies the text of the target id into the clipboard.
  </:description>
  <:usage>
    <p>Here is how you use the thing</p>
  </:usage>

  <QwixxWeb.Component.CopyToClipboard.button id="c2c-playground" target="#copy-to-clipboard-text" />
  <p id="copy-to-clipboard-text" class="mt-2">Lorem ipsum</p>
</.story>
